$red-600: #e53e3e;
$red-700: #c53030;

$green-600: #38a169;
$green-700: #2f855a;

$blue-600: #3182ce;
$blue-700: #2b6cb0;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$gray-1000: #1a1b1c;
